.head{
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;

width: 100%;
height: 8em;
margin: 0;
align-content: center;
}

.heading{
    color: white;
    font-size: 5rem;
    font-weight: 500;
    font-family: "Sedan SC" , sans-serif;
    padding-left: 3%;
}

.money{
    display: none;
}

.lol{
    height: 4em;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
    color: black;
    text-align: center;
    margin: 0;
}

.navTabs{
    height: 4em;
    display: inline-flex;
    width: 100%;
    background-color: rgb(244, 244, 244);
}

.tabs{
    display: inline;
    align-content: center;
    padding-left: 1%;
    padding-right: 1%;
    transition-delay: 150ms;
    font-family: "Roboto" , sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.tabs:hover{
    color: rgb(244, 244, 244);
    background-color: black;
    cursor: pointer;
}

.search{
    align-self:auto;
    width: 3.5%;
    margin-left: auto;
    margin-right: 1%;
    border: none;
    background-color: rgb(244, 244, 244);
}

.search:hover{
    opacity: 0.6;
    transition-delay: 80ms ;
    cursor: pointer;
}


.downarrow{
    float: end;
    width: 2.5%;
    margin-right: 1%; 
    border: none;
    background-color: rgb(244, 244, 244);
}

.downarrow:hover{
    opacity: 0.6;
    transition-delay: 80ms ;
    cursor: pointer;
}

.latest{
    display: flex;
    background-color: rgb(220, 220, 220);
    height: 2em;
}

.lightning{
    width: 1.4%;
    align-content: center;
    padding-left: 1%;
}

.breakingnews{
    display: inline;
    font-family: "Roboto" , sans-serif;
    margin: 0;
    margin-left: 0.8%;
    align-self: center;
    font-weight: bold;
}

.randomtext{
    display: inline;
    align-self: center;
    color: rgb(115, 115, 115);
    font-family: "Roboto" , sans-serif;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.weather{
    width: 1.5%;
    align-content: center;
    padding-left: 1%;
    margin-left: auto;
}

.date{
    display: inline;
    align-self: center;
    color: rgb(115, 115, 115);
    font-family: "Roboto" , sans-serif;
    margin-left: 0.5%;
    margin-right: 1.5%;
    margin-top: 0;
    margin-bottom: 0;
}

.content{
    display: flex;
    padding-top: 4%;
    padding-left: 3%;
    align-content: center;
}


.figtxt1{
    position: absolute;
    top: 65%;
    left: 10%;
}

.figtxt2{
    position: absolute;
    top: 19%;
    left: 10%;
}

.tags{
    background-color: black;
    color: rgb(234, 234, 234);
    border-radius: 1em;
    font-weight: bold;
    margin-left: 1em;
    border: none;
    width: 28%;
}

.headline{
    display: inline;
    font-family: "Roboto" , sans-serif;
    color: rgb(245, 245, 245);
    font-size: 2rem;
}

.headline1{
    display: inline;
    font-family: "Roboto" , sans-serif;
    color: rgb(245, 245, 245);
    margin-top: 1em;
    font-size: 1.5rem;
}

.side{
    margin-left: 3%;
    width: 19%;
    height: 30em;
}

.Latest{
    width: 49%;
    height: 3em;
    font-weight: bold;
    transition-delay: 150ms;
    font-family: "Roboto" , sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 0.5em 0 0 0.5em;
    background-color: rgb(234, 234, 234);
}

.Latest:hover{
    color: rgb(244, 244, 244);
    background-color: black;
    cursor: pointer;

}

.Popular{
    width: 49%;
    height: 3em;
    font-weight: bold;
    transition-delay: 150ms;
    font-family: "Roboto" , sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
    background-color: rgb(234, 234, 234);
}

.Popular:hover{
    color: rgb(244, 244, 244);
    background-color: black;
    cursor: pointer;
}

.sideblogs{
    overflow:auto;
    height: 100%;
}

.blogs{
    padding-left: 1%;
    margin-top: 8%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.text{
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 6%;
    line-height: 1.3rem
}

.calender{
    width: 10%;
    align-content: center;
    padding-left: 1%;
    color: rgb(115, 115, 115);
}